body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:401px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:638px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:638px;
  display:flex;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:51px;
  height:51px;
  display:flex;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:16px;
  width:168px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:93px;
  width:252px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:156px;
  width:1px;
  height:29px;
  display:flex;
}
#u247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u247_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:248px;
  background:inherit;
  background-color:rgba(251, 252, 253, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:174px;
  width:299px;
  height:248px;
  display:flex;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:150px;
  width:159px;
  height:15px;
  display:flex;
}
#u249 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u250 label {
  left:0px;
  width:100%;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:195px;
  width:18px;
  height:29px;
  display:flex;
}
#u250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u250_img.selected {
}
#u250.selected {
}
#u250_img.disabled {
}
#u250.disabled {
}
#u250_img.selected.error {
}
#u250.selected.error {
}
#u250_img.selected.hint {
}
#u250.selected.hint {
}
#u250_img.selected.error.hint {
}
#u250.selected.error.hint {
}
#u250_img.mouseOver.selected {
}
#u250.mouseOver.selected {
}
#u250_img.mouseOver.selected.error {
}
#u250.mouseOver.selected.error {
}
#u250_img.mouseOver.selected.hint {
}
#u250.mouseOver.selected.hint {
}
#u250_img.mouseOver.selected.error.hint {
}
#u250.mouseOver.selected.error.hint {
}
#u250_img.mouseDown.selected {
}
#u250.mouseDown.selected {
}
#u250_img.mouseDown.selected.error {
}
#u250.mouseDown.selected.error {
}
#u250_img.mouseDown.selected.hint {
}
#u250.mouseDown.selected.hint {
}
#u250_img.mouseDown.selected.error.hint {
}
#u250.mouseDown.selected.error.hint {
}
#u250_img.mouseOver.mouseDown.selected {
}
#u250.mouseOver.mouseDown.selected {
}
#u250_img.mouseOver.mouseDown.selected.error {
}
#u250.mouseOver.mouseDown.selected.error {
}
#u250_img.mouseOver.mouseDown.selected.hint {
}
#u250.mouseOver.mouseDown.selected.hint {
}
#u250_img.mouseOver.mouseDown.selected.error.hint {
}
#u250.mouseOver.mouseDown.selected.error.hint {
}
#u250_img.focused.selected {
}
#u250.focused.selected {
}
#u250_img.focused.selected.error {
}
#u250.focused.selected.error {
}
#u250_img.focused.selected.hint {
}
#u250.focused.selected.hint {
}
#u250_img.focused.selected.error.hint {
}
#u250.focused.selected.error.hint {
}
#u250_img.selected.disabled {
}
#u250.selected.disabled {
}
#u250_img.selected.hint.disabled {
}
#u250.selected.hint.disabled {
}
#u250_img.selected.error.disabled {
}
#u250.selected.error.disabled {
}
#u250_img.selected.error.hint.disabled {
}
#u250.selected.error.hint.disabled {
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:1px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u250_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:184px;
  width:113px;
  height:34px;
  display:flex;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u252 label {
  left:0px;
  width:100%;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:240px;
  width:18px;
  height:29px;
  display:flex;
}
#u252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u252_img.selected {
}
#u252.selected {
}
#u252_img.disabled {
}
#u252.disabled {
}
#u252_img.selected.error {
}
#u252.selected.error {
}
#u252_img.selected.hint {
}
#u252.selected.hint {
}
#u252_img.selected.error.hint {
}
#u252.selected.error.hint {
}
#u252_img.mouseOver.selected {
}
#u252.mouseOver.selected {
}
#u252_img.mouseOver.selected.error {
}
#u252.mouseOver.selected.error {
}
#u252_img.mouseOver.selected.hint {
}
#u252.mouseOver.selected.hint {
}
#u252_img.mouseOver.selected.error.hint {
}
#u252.mouseOver.selected.error.hint {
}
#u252_img.mouseDown.selected {
}
#u252.mouseDown.selected {
}
#u252_img.mouseDown.selected.error {
}
#u252.mouseDown.selected.error {
}
#u252_img.mouseDown.selected.hint {
}
#u252.mouseDown.selected.hint {
}
#u252_img.mouseDown.selected.error.hint {
}
#u252.mouseDown.selected.error.hint {
}
#u252_img.mouseOver.mouseDown.selected {
}
#u252.mouseOver.mouseDown.selected {
}
#u252_img.mouseOver.mouseDown.selected.error {
}
#u252.mouseOver.mouseDown.selected.error {
}
#u252_img.mouseOver.mouseDown.selected.hint {
}
#u252.mouseOver.mouseDown.selected.hint {
}
#u252_img.mouseOver.mouseDown.selected.error.hint {
}
#u252.mouseOver.mouseDown.selected.error.hint {
}
#u252_img.focused.selected {
}
#u252.focused.selected {
}
#u252_img.focused.selected.error {
}
#u252.focused.selected.error {
}
#u252_img.focused.selected.hint {
}
#u252.focused.selected.hint {
}
#u252_img.focused.selected.error.hint {
}
#u252.focused.selected.error.hint {
}
#u252_img.selected.disabled {
}
#u252.selected.disabled {
}
#u252_img.selected.hint.disabled {
}
#u252.selected.hint.disabled {
}
#u252_img.selected.error.disabled {
}
#u252.selected.error.disabled {
}
#u252_img.selected.error.hint.disabled {
}
#u252.selected.error.hint.disabled {
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:1px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u252_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:233px;
  width:49px;
  height:36px;
  display:flex;
}
#u253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:233px;
  width:53px;
  height:36px;
  display:flex;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255 label {
  left:0px;
  width:100%;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:289px;
  width:18px;
  height:29px;
  display:flex;
}
#u255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u255_img.selected {
}
#u255.selected {
}
#u255_img.disabled {
}
#u255.disabled {
}
#u255_img.selected.error {
}
#u255.selected.error {
}
#u255_img.selected.hint {
}
#u255.selected.hint {
}
#u255_img.selected.error.hint {
}
#u255.selected.error.hint {
}
#u255_img.mouseOver.selected {
}
#u255.mouseOver.selected {
}
#u255_img.mouseOver.selected.error {
}
#u255.mouseOver.selected.error {
}
#u255_img.mouseOver.selected.hint {
}
#u255.mouseOver.selected.hint {
}
#u255_img.mouseOver.selected.error.hint {
}
#u255.mouseOver.selected.error.hint {
}
#u255_img.mouseDown.selected {
}
#u255.mouseDown.selected {
}
#u255_img.mouseDown.selected.error {
}
#u255.mouseDown.selected.error {
}
#u255_img.mouseDown.selected.hint {
}
#u255.mouseDown.selected.hint {
}
#u255_img.mouseDown.selected.error.hint {
}
#u255.mouseDown.selected.error.hint {
}
#u255_img.mouseOver.mouseDown.selected {
}
#u255.mouseOver.mouseDown.selected {
}
#u255_img.mouseOver.mouseDown.selected.error {
}
#u255.mouseOver.mouseDown.selected.error {
}
#u255_img.mouseOver.mouseDown.selected.hint {
}
#u255.mouseOver.mouseDown.selected.hint {
}
#u255_img.mouseOver.mouseDown.selected.error.hint {
}
#u255.mouseOver.mouseDown.selected.error.hint {
}
#u255_img.focused.selected {
}
#u255.focused.selected {
}
#u255_img.focused.selected.error {
}
#u255.focused.selected.error {
}
#u255_img.focused.selected.hint {
}
#u255.focused.selected.hint {
}
#u255_img.focused.selected.error.hint {
}
#u255.focused.selected.error.hint {
}
#u255_img.selected.disabled {
}
#u255.selected.disabled {
}
#u255_img.selected.hint.disabled {
}
#u255.selected.hint.disabled {
}
#u255_img.selected.error.disabled {
}
#u255.selected.error.disabled {
}
#u255_img.selected.error.hint.disabled {
}
#u255.selected.error.hint.disabled {
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:1px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u255_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:275px;
  width:50px;
  height:46px;
  display:flex;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:195px;
  width:1px;
  height:6px;
  display:flex;
}
#u257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:244px;
  width:70px;
  height:15px;
  display:flex;
}
#u258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:195px;
  width:41px;
  height:15px;
  display:flex;
}
#u259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:289px;
  width:36px;
  height:15px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:328px;
  width:49px;
  height:44px;
  display:flex;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262 label {
  left:0px;
  width:100%;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:343px;
  width:18px;
  height:29px;
  display:flex;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u262_img.selected {
}
#u262.selected {
}
#u262_img.disabled {
}
#u262.disabled {
}
#u262_img.selected.error {
}
#u262.selected.error {
}
#u262_img.selected.hint {
}
#u262.selected.hint {
}
#u262_img.selected.error.hint {
}
#u262.selected.error.hint {
}
#u262_img.mouseOver.selected {
}
#u262.mouseOver.selected {
}
#u262_img.mouseOver.selected.error {
}
#u262.mouseOver.selected.error {
}
#u262_img.mouseOver.selected.hint {
}
#u262.mouseOver.selected.hint {
}
#u262_img.mouseOver.selected.error.hint {
}
#u262.mouseOver.selected.error.hint {
}
#u262_img.mouseDown.selected {
}
#u262.mouseDown.selected {
}
#u262_img.mouseDown.selected.error {
}
#u262.mouseDown.selected.error {
}
#u262_img.mouseDown.selected.hint {
}
#u262.mouseDown.selected.hint {
}
#u262_img.mouseDown.selected.error.hint {
}
#u262.mouseDown.selected.error.hint {
}
#u262_img.mouseOver.mouseDown.selected {
}
#u262.mouseOver.mouseDown.selected {
}
#u262_img.mouseOver.mouseDown.selected.error {
}
#u262.mouseOver.mouseDown.selected.error {
}
#u262_img.mouseOver.mouseDown.selected.hint {
}
#u262.mouseOver.mouseDown.selected.hint {
}
#u262_img.mouseOver.mouseDown.selected.error.hint {
}
#u262.mouseOver.mouseDown.selected.error.hint {
}
#u262_img.focused.selected {
}
#u262.focused.selected {
}
#u262_img.focused.selected.error {
}
#u262.focused.selected.error {
}
#u262_img.focused.selected.hint {
}
#u262.focused.selected.hint {
}
#u262_img.focused.selected.error.hint {
}
#u262.focused.selected.error.hint {
}
#u262_img.selected.disabled {
}
#u262.selected.disabled {
}
#u262_img.selected.hint.disabled {
}
#u262.selected.hint.disabled {
}
#u262_img.selected.error.disabled {
}
#u262.selected.error.disabled {
}
#u262_img.selected.error.hint.disabled {
}
#u262.selected.error.hint.disabled {
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:1px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u262_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:343px;
  width:62px;
  height:15px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:492px;
  width:68px;
  height:23px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:483px;
  width:141px;
  height:41px;
  display:flex;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
